.popup__input-error {
    color: #FF0000;
    font-size: 12px;
    line-height: 1.2;
    opacity: 0;
    transition: opacity 0.3s;
    min-height: 30px;
}

.popup__input-error_active {
    opacity: 1;
}

.popup__input_type_error {
    border-bottom-color: #FF0000;
}